[submodule "third_party/linux"]
	path = third_party/linux
	url = https://github.com/gregkh/linux
	branch = linux-rolling-stable
[submodule "third_party/u-boot"]
	path = third_party/u-boot
	url = https://source.denx.de/u-boot/u-boot.git
[submodule "third_party/optee-os"]
	path = third_party/optee-os
	url = https://github.com/OP-TEE/optee_os.git
